.mobile-sidebar {
    position: relative;
    height: 100%;
    width: 100%;
}

.mobile-sidebar-heading {
    position: relative;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 15%;
    font-size: 2rem;
    font-weight: 500;
}

.mobile-group-names {
    position: relative;
    height: 85%;
    overflow-y: auto;
}

.mobile-group-names::-webkit-scrollbar {
    width: 0.5rem;
}

.mobile-group-names::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 1rem;
}

.mobile-group-names::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(89, 84, 84, 0.133);
    border-radius: 1rem;
}

.mobile-group {
    border: 1px solid red;
    position: relative;
    height: 15%;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    padding: 0 10%;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 2px;
    background: linear-gradient(90deg, transparent 50%, rgba(90, 190, 158, 0.17) 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease;
}

.mobile-group:hover{
    background-position: -100% 0;
}

.mobile-group-name-logo {
    height: 75%;
    aspect-ratio: 1;
    border-radius: 100%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.5rem;
}

.addgroup-btn-for-mobile {
    position: fixed;
    cursor: pointer;
    height: 4rem;
    aspect-ratio: 1;
    bottom: 5%;
    left: 75%;
    border-radius: 5rem;
    background: rgba(22, 0, 139, 1);
    display: grid;
    place-items: center;
    color: white;
    font-size: 3rem;
    font-weight: 400;
}
